<div class="col-md-6 mx-auto">
  <h2>{{ vm.titulo }}</h2>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nome:</label>
        <input
          ng-model="vm.profissional.nome"
          type="text"
          class="form-control"
        />
      </div>
    </div>
    <div class="form-group">
      <label>Documento:</label>
      <input
        ng-model="vm.profissional.documento"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>E-mail:</label>
        <input
          ng-model="vm.profissional.email"
          type="text"
          class="form-control"
        />
      </div>
      <div class="form-group col-md-6">
        <label>Telefone:</label>
        <input
          ng-model="vm.profissional.telefone"
          type="number"
          class="form-control"
        />
      </div>
    </div>
    <div class="text-right">
      <button ng-click="vm.save()" type="button" class="btn btn-primary">
        Salvar
      </button>
      <button ui-sref="profissionalList" type="button" class="btn btn-danger">
        Cancelar
      </button>
    </div>
  </form>
</div>
