<div class="col-md-6 mx-auto">
  <h2>{{ vm.titulo }}</h2>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nome:</label>
        <input
          ng-model="vm.proprietario.nome"
          type="text"
          class="form-control"
        />
      </div>
    </div>
    <div class="form-group">
      <label>Documento:</label>
      <input
        ng-model="vm.proprietario.documento"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>E-mail:</label>
        <input
          ng-model="vm.proprietario.email"
          type="text"
          class="form-control"
        />
      </div>
      <div class="form-group col-md-6">
        <label>Telefone:</label>
        <input
          ng-model="vm.proprietario.telefone"
          type="number"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label>Animal:</label>
        <select
          class="form-control"
          ng-model="vm.proprietario.animal"
          ng-options="item as item.descricao for item in vm.animal track by item._id"
        >
        </select>
      </div>
    </div>
    <div class="text-right">
      <button ng-click="vm.save()" type="button" class="btn btn-primary">
        Salvar
      </button>
      <button ui-sref="proprietarioList" type="button" class="btn btn-danger">
        Cancelar
      </button>
    </div>
  </form>
</div>
