<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3"
>
  <h1 class="h2">Proprietários</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a ui-sref="proprietarioNovo" class="btn btn-sm btn-outline-success">
      <span class="fas fa-plus-square"></span>
      Novo proprietário
    </a>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Documento</th>
        <th class="text-center">Telefone</th>
        <th class="text-center">Animal</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="proprietario in vm.proprietarios">
        <td>{{ proprietario.nome }}</td>
        <td>{{ proprietario.documento }}</td>
        <td class="text-center">{{ proprietario.telefone }}</td>
        <td class="text-center">{{ proprietario.animal }}</td>
        <td class="text-right">
          <a ui-sref="proprietarioEditar({id:proprietario._id})"
            ><span class="fas fa-edit"></span
          ></a>
          <a href="#" ng-click="vm.excluir(proprietario._id)"
            ><span class="fas fa-trash-alt"></span
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
